[submodule "text"]
	path = text 
	url = https://github.com/mibook/text.git
[submodule "figures"]
	path = figures
	url = https://github.com/pibook/_gallery
[submodule "epigraphs"]
	path = epigraphs
	url = https://github.com/pibook/_quotes.git
	branch = master
[submodule "extras"]
	path = extras
	url = https://github.com/pibook/extras.git
	branch = master
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/pibook/bibliography.git
